[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "poly2tri"]
	path = poly2tri
	url = https://github.com/greenm01/poly2tri/
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/Alia5/imgui-sfml
[submodule "chaiscript"]
	path = chaiscript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "ChaiScript_Extras"]
	path = ChaiScript_Extras
	url = git@github.com:ChaiScript/ChaiScript_Extras.git
[submodule "ChaiScript_Extras_Liquidfun"]
	path = ChaiScript_Extras_Liquidfun
	url = https://github.com/Alia5/ChaiScript_Extras_Liquidfun
[submodule "ChaiScript_Extras_SFML"]
	path = ChaiScript_Extras_SFML
	url = git@github.com:Alia5/ChaiScript_Extras_SFML.git
